$sidebar-width: 201px;
$minibar-width: 61px;

.sidebar {
  @extend .navmenu;
  @extend .navmenu-fixed-left;
  padding: 0px;
  padding-top: 15px;
  background-color: #444;
}

.sidebar a, .sidebar-footer a, .sidebar .nav > li > a {
  color: #eee;
  text-shadow: 0 0 2px #000000;
}

.sidebar .nav li>a:hover {
  background-color: #393939;
}

.sidebar-footer {
  background-color: #444;
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.sidebar i {
  font-size: 1.5em;
  float: right;
  width: 30px;
  text-align: center;
  display: block;
  height: 20px;
}

@media (min-width: 768px) {
  .content-area {
    padding-left: $sidebar-width;
  }

  .sidebar {
    width: $sidebar-width;
  }

  .sidebar i {
    float: right;
  }
}

@media (max-width: 767px) {
  .content-area {
    padding-left: $minibar-width;
  }

  .sidebar {
    width: $minibar-width;
  }

  .sidebar i {
    float: none;
  }
}
