<h3>Account Statistics</h3>
<div class="panel panel-default">
  <!--
  <div class="panel-heading"><h3 class="panel-title">Account Statistics</h3></div>
  -->
  <div class="panel-body">
    <ol class="list-unstyled">
      <li>
        <span class="col-sm-2">Repositories</span><%= @repo_count %>
      </li>
      <li>
        <span class="col-sm-2">Members</span><%= @member_count %>
      </li>
      <li>
        <span class="col-sm-2">Groups</span><%= @group_count %>
      </li>
    </ol>
  </div>
</div>
