<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header navbar-left">
      <span class="navbar-brand">Bitbucket Browser</span>
    </div>
    <div class="navbar-header navbar-right">
      <ul class="nav navbar-nav" style="overflow: none;">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
            <%= fa_icon "user" %> <%= fa_icon "caret-down" %>
          </a>
          <ul class="dropdown-menu" role="menu">
            <%= render 'layouts/navigation_links' %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
