<h3>Members</h3>

<table class="table">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
    <tr>
      <td><%= member.name %></td>
      <td><%= member.username %></td>
    </tr>
  </tbody>
  <% end %>
</table>
